
.hwh_hlw_select_menu *,
.hwh_hlw_result_panel * {
  box-sizing: border-box;
}
.hwh_hlw_select_menu {
  position: fixed;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 9998;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}
.hwh_hlw_select_menu button {
  padding: 0 4px;
  white-space: nowrap;
  height: 24px;
  outline: none;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.hwh_hlw_select_menu select {
  border: none;
  outline: none;
  white-space: nowrap;
  height: 24px;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
}
.hwh_hlw_select_menu button:hover {
  background-color: #cdcdcd;
}
.hwh_hlw_select_menu span {
  margin-right: 4px;
  pointer-events: none;
}
.hwh_hlw_result_panel {
  position: fixed;
  font-size: 12px;
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  min-width: 90px;
  max-width: 400px;
  max-height: 70vh;
  overflow: auto;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}
.hwh_hlw_result_panel_title {
  pointer-events: none;
  font-weight: bold;
}
.hwh_hlw_result_panel_content {
  color: #444;
  pointer-events: none;
}
.hwh_hlw_loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 10px;
}
.typing_loader {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  margin: auto;
  position: relative;
  left: -12px;
}

@keyframes typing {
  0% {
    background-color: #465264;
    box-shadow: 12px 0px 0px 0px #999,
      24px 0px 0px 0px #fafafa;
  }

  25% {
    background-color: #fafafa;
    box-shadow: 12px 0px 0px 0px #465264,
      24px 0px 0px 0px #999;
  }

  75% {
    background-color: #999;
    box-shadow: 12px 0px 0px 0px #fafafa,
      24px 0px 0px 0px #465264;
  }
}
@media (prefers-color-scheme: dark) {
  .hwh_hlw_select_menu {
    background-color: #343434;
  }
  .hwh_hlw_select_menu select,
  .hwh_hlw_select_menu button {
    color: #fff;
    background-color: #343434;
  }
  .hwh_hlw_select_menu button:hover {
    background-color: #555;
  }
  .hwh_hlw_result_panel {
    background-color: #343434;
  }
  .hwh_hlw_result_panel_title {
    color: #fff;
  }
  .hwh_hlw_result_panel_content {
    color: #fff;
  }
}